# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# node_modules
node_modules/
package-lock.json

# builds commands
build/
dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.stackdump
[Dd]esktop.ini

# Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### react ###
.DS_*
logs
**/*.backup.*
**/*.back.*

# Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.lnk
*.cab
*.msi
*.msix
*.msm
*.msp

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Local Netlify folder
.netlify
